<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>colticon.icns</string>
<key>CFBundleIdentifier</key>
<string>codeorchestra.colt</string>
<key>CFBundleDisplayName</key>
<string>COLT 1.2.5</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>COLT</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>1.2</string>
<key>CFBundleSignature</key>
<string>codeOrchestra.colt</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHighResolutionCapable</key>
<true/>	
<key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>colt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>colticon.icns</string>
        <key>CFBundleTypeName</key>
        <string>Code Orchestra</string>
        <key>CFBundleTypeRole</key>
        <string>None</string>
		<key>LSIsAppleDefaultForType</key>
 	    <false/>        
      </dict>
    </array>
<key>NSHumanReadableCopyright</key>
<string></string>
<key>JVMRuntime</key>
<string>jdk1.8.0.jdk</string>
<key>JVMMainClassName</key>
<string>codeOrchestra.colt.core.ui.ColtApplication</string>
<key>JVMOptions</key>
<array>
  <string>-Dfile.encoding=UTF-8</string>
  <string>-Dcolt.base.dir=$APP_PACKAGE</string>
  <string>-Dcolt.handlers=AS:codeOrchestra.colt.as.ASLiveCodingLanguageHandler,JS:codeOrchestra.colt.js.JSLiveCodingLanguageHandler</string>  
</array>
<key>JVMArguments</key>
<array>
</array>
</dict>
</plist>